<div>
  <div class="text-center mb-6">
    <h2 class="text-2xl text-gray-900 font-semibold mb-2">Forgot your password?</h2>
    <p class="text-sm text-gray-500">Enter your email below to receive password reset instructions</p>
  </div>

  <form [formGroup]="forgotPasswordForm" class="space-y-2">
    <mat-form-field appearance="outline" class="w-full compact-field">
      <mat-label>Email</mat-label>
      <input matInput type="email" placeholder="janedoe@gmail.com" formControlName="email" >
      <mat-icon matSuffix>mail</mat-icon>

      @if(forgotPasswordForm.get('email')?.hasError('required')) {
        <mat-error>Email is required</mat-error>
      }

      @if(forgotPasswordForm.get('email')?.hasError('email')) {
        <mat-error>Enter a valid email</mat-error>
      }
    </mat-form-field>

    <button
      mat-flat-button
      class="w-full h-11 !rounded-lg"
      type="button"
      (click)="sendPasswordResetInstructions()"
    >
      Submit
    </button>
  </form>

  <div class="text-center mt-2">
    <p class="text-sm">
      <a [routerLink]="['/auth/login']" class="text-gray-500 hover:underline cursor-pointer ml-1">Back to Login</a>
    </p>
  </div>

</div>
