<mat-sidenav-container class="h-screen">
  <mat-sidenav
    #sidenav
    [opened]="isOpen"
    [mode]="sidenavMode"
    [disableClose]="!isMobile()"
    [position]="'start'"
    class="!rounded-none !border-none"
    [style.width]="'280px'"
  >
    <app-sidenav [isMobile]="isMobile()" (closeSidenav)="sidenav.close()" />
  </mat-sidenav>

  <mat-sidenav-content class="flex flex-col h-full overflow-hidden">
    <!-- Sticky Toolbar -->
    <app-toolbar [isMobile]="isMobile()" (toggleSidenav)="toggleSidenav()" class="flex-shrink-0" />

    <!-- Scrollable Content -->
    <div class="flex-1 overflow-y-auto">
      <div class="p-6">
        <router-outlet />
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
