/* --------------------------------------------------------------------------
   Utility Classes
   -------------------------------------------------------------------------- */

/* Compact Form Fields */
.compact-field .mat-mdc-form-field-infix {
  padding-top: 12px !important;
  padding-bottom: 12px !important;
  min-height: 48px !important;
}

.compact-field .mat-mdc-text-field-wrapper {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.compact-field .mat-mdc-form-field-subscript-wrapper {
  margin-top: 4px !important;
}

.compact-field input.mat-mdc-input-element {
  height: 24px !important;
  line-height: 24px !important;
}

.compact-field .mat-mdc-floating-label {
  top: 24px !important;
}

/* --------------------------------------------------------------------------
   Snackbars
   -------------------------------------------------------------------------- */

/* ===== Success SnackbarService ===== */
.success-snackbar {
  --mdc-snackbar-container-color: var(--app-success) !important;
  --mdc-snackbar-supporting-text-color: var(--app-on-success) !important;
}

.success-snackbar .mdc-snackbar__surface {
  background-color: var(--app-success) !important;
}

.success-snackbar .mat-mdc-snack-bar-label {
  color: var(--app-on-success) !important;
}

/* ===== Error SnackbarService ===== */
.error-snackbar {
  --mdc-snackbar-container-color: var(--mat-sys-error) !important;
  --mdc-snackbar-supporting-text-color: var(--mat-sys-on-error) !important;
}

.error-snackbar .mdc-snackbar__surface {
  background-color: var(--mat-sys-error) !important;
}

.error-snackbar .mat-mdc-snack-bar-label {
  color: var(--mat-sys-on-error) !important;
}

/* ===== Warning SnackbarService ===== */
.warning-snackbar {
  --mdc-snackbar-container-color: var(--app-warning) !important;
  --mdc-snackbar-supporting-text-color: var(--app-on-warning) !important;
}

.warning-snackbar .mdc-snackbar__surface {
  background-color: var(--app-warning) !important;
}

.warning-snackbar .mat-mdc-snack-bar-label {
  color: var(--app-on-warning) !important;
}

/* ===== Info SnackbarService ===== */
.info-snackbar {
  --mdc-snackbar-container-color: var(--app-info) !important;
  --mdc-snackbar-supporting-text-color: var(--app-on-info) !important;
}

.info-snackbar .mdc-snackbar__surface {
  background-color: var(--app-info) !important;
}

.info-snackbar .mat-mdc-snack-bar-label {
  color: var(--app-on-info) !important;
}

.info-snackbar .mat-mdc-snack-bar-action .mdc-button__label,
.warning-snackbar .mat-mdc-snack-bar-action .mdc-button__label,
.error-snackbar .mat-mdc-snack-bar-action .mdc-button__label,
.success-snackbar .mat-mdc-snack-bar-action .mdc-button__label{
  color: #fff !important;
}
